<form [formGroup]="formGroup">
  <div class="user-data">
    <mat-form-field appearance="outline" >
        <input type="text" matInput [value]="owner?.surname" placeholder="Фамилия" formControlName="surname" >
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Имя" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Отчество" formControlName="father">
    </mat-form-field>
  </div>
  <H2>Автомобили</H2>
  <div class="cars-data" *ngIf="data.action != 'add'">
    <div class="cars-data__item" *ngFor="let car of owner!.cars; index as i" >
      <app-cars [car]=car [action]=data.action [index]=i></app-cars>
    </div>
  </div>
</form>
<div class="new-car">
  <app-new-car [cars] = data.cars></app-new-car>
</div>
<mat-dialog-actions *ngIf="data.action != 'view'">
  <button type="button" mat-stroked-button (click)="create()">Сохранить</button>
</mat-dialog-actions>
