h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.btn-right {
  display: flex;
  gap: 10px;
}

table {
  width: 80%;
  margin: 2em auto 0 ;
}

.highlight{
  background: #7ca7df;
}
