.flag {
  display: flex;
  justify-items: center;
  justify-content: center;
  background: rgb(11,129,177);
  background: linear-gradient(180deg, rgba(11,129,177,1) 0%, rgba(11,129,177,1) 50%, rgba(255,218,68,1) 50%, rgba(255,218,68,1) 100%);
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.btn-right {
  display: flex;
  gap: 10px;
}

table {
  width: 80%;
  margin: 2em auto 0 ;
}

.highlight{
  background: #7ca7df;
}
