<h1>Владельцы автомобилей</h1>
<div class="btn-container">
  <button type="button" mat-raised-button color="primary" (click)="openModal('add', {})">Добавить</button>
  <div class="btn-right">
    <button type="button" mat-raised-button color="primary"  [disabled]="!selected" (click)="openModal('view', {})">Просмотреть</button>
    <button type="button" mat-raised-button color="primary"  [disabled]="!selected" (click)="openModal('update', {})">Редактировать</button>
    <button type="button" mat-raised-button color="primary" (click)="deletOwner()" [disabled]="!selected">Удалить</button>
  </div>
</div>

<table class="table" mat-table [dataSource]="owners" class="mat-elevation-z8">

   <ng-container matColumnDef="position" >
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Фамилия </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="father">
    <th mat-header-cell *matHeaderCellDef> Отчество </th>
    <td mat-cell *matCellDef="let element"> {{element.father}} </td>
  </ng-container>

  <ng-container matColumnDef="cars">
    <th mat-header-cell *matHeaderCellDef> Количество автомобилей </th>
    <td mat-cell *matCellDef="let element"> {{element.cars.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selected && selected!.id == row.id}" (click)="selectUser(row)"></tr>
</table>

<!-- <table class="table" mat-table>
  <tr>
    <th>#</th>
    <th>{{displayedColumns[0]}}</th>
    <th>{{displayedColumns[1]}}</th>
    <th>{{displayedColumns[2]}}</th>
    <th>{{displayedColumns[3]}}</th>
   </tr>
   <tr *ngFor="let owner of owners; index as i" (click)="selectUser(owner)">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{owner.surname}}</td>
     <td>{{owner.name}}</td>
     <td>{{owner.father}}</td>
     <td>{{owner.cars!.length}}</td>
    </tr>
</table> -->
