<h1>Владельцы автомобилей</h1>
<div class="btn-container">
  <button type="button" class="btn btn-primary" (click)="openModal()">Добавить</button>
  <div class="btn-right">
    <button type="button" class="btn btn-primary"  [disabled]="!selected">Просмотреть</button>
    <button type="button" class="btn btn-primary"  [disabled]="!selected">Редактировать</button>
    <button type="button" class="btn btn-primary" (click)="deletOwner()" [disabled]="!selected">Удалить</button>
  </div>
</div>
<table class="table">
  <tr>
    <th>#</th>
    <th>{{displayedColumns[0]}}</th>
    <th>{{displayedColumns[1]}}</th>
    <th>{{displayedColumns[2]}}</th>
    <th>{{displayedColumns[3]}}</th>
   </tr>
   <tr *ngFor="let owner of owners; index as i" (click)="selectUser(owner)">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{owner.surname}}</td>
     <td>{{owner.name}}</td>
     <td>{{owner.father}}</td>
     <td>{{owner.cars!.length}}</td>
    </tr>
</table>
