<div formGroupName="carsGroup{{index}}">
  <div class="car">
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Номер" formControlName="hosnumber">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Марка" formControlName="manufacturer">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Модель" formControlName="model">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <input type="text" matInput placeholder="Год" formControlName="year">
    </mat-form-field>
  </div>
</div>
